body {
  background-color: #121212;
    background-image: url("../assets/images/8232ba2c-896e-4d08-9288-b91cc4e4de29.png");
    background-size: cover;
}

h1 {
  text-align: center;
  color: #ffbb00;
  /* border: 4px groove #4caf50; */
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}

#game-boundary {

  width: 600px;
  height: 600px;
  border: 5px inset #ff9800;
  background-color: #1e1e2f;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  opacity: 90%;
}

.game-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  
}
#paddle {
  width: 150px;
  height: 20px;
  background-color: #ff9800;
  border: 3px outset #ffffff;
  position: absolute;
  bottom: 10px;       /* distance from bottom of game box */
  border-radius: 10px;
}
#paddle:hover {
  background-color: #ffc107;
}
#paddle:active {
  background-color: #ffc107;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: #03a9f4;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;        /* just above the paddle */
  left: 50%;
  transform: translateX(-50%);
  border: 2px outset #ffffff;
}

#bricks-container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}



.brick {
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #f31111;
  border: 2px outset #ffffff;
  border-radius: 4px;
}
.brickG {
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #2b8b0d;
  border: 2px outset #ffffff;
  border-radius: 4px;
}
.brickB {
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #2719ee;
  border: 2px outset #ffffff;
  border-radius: 4px;
}
.brickP {
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #ee19d2;
  border: 2px outset #ffffff;
  border-radius: 4px;
}
.brickGold {
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #ffa600;
  border: 2px outset #ffffff;
  border-radius: 4px;
}



button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  border: 2px solid white;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

button:hover {
  background-color: #66bb6a;
}
button:active {
  background-color: #66bb6a;
}

.score {
  position: absolute;
  top: 70px;
  right: 260px;
  width: 100px;
  height: 50px;
  font-size: 45px;
  font-weight: bold;
  color: blue;
  font-family: "Bitcount Grid Double", system-ui;
  font-style: italic;
}

.scoreboard {
  position: absolute;
  top: 170px;
  right: 200px;
  width: 190px;
  height: 100px;
  font-size: 55px;
  text-align: center;
  align-items: center;
  line-height: 100px;
  background-color: #ee19d2;
  border: 2px outset #ffffff;
  border-radius: 4px;
  color: blue;
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: 500;
  font-style: italic;
  opacity: 80%;
}

.difficulties {
  position: absolute;
  top: 175px; 
  right: 1020px; 
  left: 30px;
  bottom: 250px;
  background-color: #ee19d2;
  border: 2px outset #ffffff;
  border-radius: 6px;
  font-size: 30px;
  color: blue;
  font-family: "Bitcount Grid Double", system-ui;
  font-style: italic;
}
.difficulty {
  position: absolute;
  top: 75px; /* place it near the top */
  right: 1020px; /* distance from right edge */
  left: 30px;
  width: 50px;
  padding: 10px 30px;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  align-items: center;
  color: blue;
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: bold;
  font-style: italic;
  opacity: 0.8;
}

.difficulties ul {
  border: #03a9f4;
  background-color: #c8c9d1;
  border: 7px outset #ffffff;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: wheat;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 60px;
}
.difficulties li.Easy{
  list-style: none;

  background-color: #5cee19;
  border: 5 px outset #000000;
  border-radius: 0px;
  
}
.difficulties li.Medium{
  list-style: none;
  background-color: #1940ee;
  border: 5 px outset #000000;
  border-radius: 0px;
  
}.difficulties li.Hard{
  background-color: #ff0202;
  border: 5px;
  border-radius: 0px;
}

main {
  display: flex;
  justify-content: center; /* Center the entire game layout horizontally */
}
