body {
  background-color: #121212;
}

h1 {
  text-align: center;
  color: #ff9800;
  border: 4px groove #4caf50;
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  font-size: 3em;
  border-radius: 10px;
}

#game-boundary {
    text-align: center;
  width: 600px;
  height: 600px;
  border: 4px inset #ff9800;
  background-color: #1e1e2f;
  position: relative;
  border-radius: 4px;
}

.game-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
#paddle {
  width: 150px;
  height: 20px;
  background-color: #ff9800;
  border: 3px outset #ffffff;
  position: absolute;
  bottom: 10px;       /* distance from bottom of game box */
  border-radius: 10px;
}
#paddle:hover {
  background-color: #ffc107;
}
#paddle:active {
  background-color: #ffc107;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: #03a9f4;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;        /* just above the paddle */
  left: 50%;
  transform: translateX(-50%);
  border: 2px outset #ffffff;
}

#bricks-container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.brick {
  width: 80px;
  height: 30px;
  background-color: #e91e63;
  border: 2px outset #ffffff;
  border-radius: 4px;
}


button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  border: 2px solid white;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

button:hover {
  background-color: #66bb6a;
}
button:active {
  background-color: #66bb6a;
}

main {
  display: flex;
  justify-content: center; /* Center the entire game layout horizontally */
}
